body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.student-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}